
header, footer {
  text-align: center;
  font-size: 3em;
  box-sizing: border-box;
  letter-spacing: 3px;
}

header {
  font-family: serif;
  text-transform: lowercase;
}

footer {
  font-size: 1em;
  padding: 0.5em;
}

ul {
  list-style: none
}

.icon {
  padding-top: 1em;
  height: 1.5em;
  width: 1.5em;
}

.icon:hover {
  cursor: pointer;
  color: deeppink;
}

.info {
  font-size: 0.75em;
  text-align: center;
  display: none
}
